.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.captured, .evolved, .traded {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.captured {
  background-color: black;
}

.evolved {
  background-color: red;
}

.traded {
  background-color: blue;
}

.page-container {
  display: flex;
  gap:20px;
}

.main-content {
  flex: 1;
}

.sticky-info {
  position: fixed;
  top: 160px;
  left: 16px; /* ou autre position fixe à gauche */
  width: 210px;
  padding: 10px;
  padding-right: 15px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #f0f0f0;
  z-index: 1000; /* au-dessus du reste */
  background-color: #333;
  display: flex;
  flex-direction: column;
}

.field-select {
  margin-top: 20px;
}

@media (max-width: 1800px) {
  .page-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .sticky-info {
    position: static;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
}